* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 2560px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  height: 433px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 24px;
}

.grid-item--width2 { width:  50%; }
.grid-item--width3 { width:  25%; }

.grid-item--height2 { height: 1335px; }
.grid-item--height3 { height: 889px; }
.grid-item--height4 { height: 433px; }
